*{
    margin: 0;
    padding: 0;

}
.navbar nav ol li {
    padding: 0;
    margin: 0;
    border: 2px  solid black;
    width:20%;
    
}
.navbar nav{
    background-color: cyan;
}
h1.welcome{
    border: 5px saddlebrown;
    width: 100%;
    text-align: center;
    background-color: blanchedalmond;
}